*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    text-decoration: none;
    outline: none;
    user-select: none; 
}

ul.menu{
    text-align:center;
}

ul.menu li{
    display: inline-block;
    margin:35px; 
}

ul.menu li a {
    color: white;
    font-size: 20px;
    border-radius: 6px;
    background-color: rgb(33, 60, 119);
    padding: 12px 12px 10px 10px;
}

ul.menu li a:hover
{
    background-color: rgb(62, 85, 134);
}
main{
	background:url("img/fundo.jpg");
	background-position: center;
    background-repeat: no-repeat;
	background-size: cover;
    min-height: 115vh;
}
h1{
	font-size:40px;
	color: rgb(33, 60, 119);
	margin-bottom: 20px;
}
p{
	font-size: 20px;
	color: #4F4F4F;
	margin-bottom: 15px;
}
h5.name{
    text-align:center
}
img.eu {
    transition: 0.3s;
	width: 25%;
    height: 25%;
    object-fit: cover;
	border-radius:10px;
}

img.eu:hover {
    transform: translateY(-8px) scale(1.05);
    box-shadow: 0 16px 16px rgba(0, 0, 0, 0);
    border-radius: 10px;
}
form{
	background-color: rgb(62, 85, 134);
	padding: 6% 6% 5% 5%;
	border-radius: 5% ;
	font-size: 20px;
}
select{
	font-size:20px;
}
input[type="submit"], 
input[type="reset"], 
button {
    font-size: 18px;
    cursor: pointer;
}

textarea{
	resize: none;
	display: flex;
	align-items: flex-start;
}
footer div{
	text-align: right;
}

footer img{
	width: 50px;
	height: 50px;
}
.fil{
	display: flex;
    align-items: row;
    gap: 60px;
	justify-content:center;
	padding: 15% 30px 30px 30px;
}
.fila{
	text-align: center;
	padding: 14% 30px 30px 30px;
}
.cor{
    display: flex;
    flex-direction: column;
    align-items: center;
	padding: 14% 30px 60px 30px;
}